allow platform_app nfc_service:service_manager find;

allow platform_app sdcard_posix:dir create_dir_perms;
allow platform_app sdcard_posix:file create_file_perms;
